<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Учет товаров</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mainmenu-style.css') }}">
</head>
<body>
    <div class="container-index">
        <h1>Учет товаров</h1>

        <nav class="actions">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('tovar.list_tovar') }}" class="func-button">Товары</a>
                <a href="{{ url_for('prodano.list_prodano') }}" class="func-button">Продажи</a>
                <a href="{{ url_for('services.list_services') }}" class="func-button">Услуги</a>
                <a href="{{ url_for('auth.logout') }}" class="func-button">Выйти</a>
            {% endif %}
        </nav>
    </div>
</body>
</html>